@use "../variables";

.cookie-law-banner {
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: black;
  color: white;
  margin-left: -(variables.$default-margin);

  .container {
    padding: variables.$default-margin;
    font-size: 14px;

    .float-end {
      float: right;
      margin-bottom: variables.$default-margin;

      .btn {
        color: variables.$black;
        background-color: white;
        border-color: white;;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 0;
      }
    }
  }
}