@use "../variables";

.project-header {
  padding: 30px;
  text-align: center;
  border-top: 1px solid variables.$black;
  border-bottom: 1px solid variables.$black;

  h1 {
    text-transform: uppercase;
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }
}