@use "../variables";
@use "../breakpoints";

.project-navigation {
  padding: 30px 30px 10px;
  text-align: center;

  @include breakpoints.Mobile() {
    padding: 30px 0 10px 0;
    line-height: 30px;
  }

  a {
    padding-right: 20px;
    color: variables.$grey;
    text-decoration: none;

    &.active, &:hover {
      color: variables.$black;
      text-decoration: none;
    }
  }
}