@use "../variables";
@use "../breakpoints";

.project-description {
  padding: 30px;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;

  @include breakpoints.Mobile() {
    padding-left: 0;
    padding-right: 0;
  }
}