@use "../breakpoints";

.project-gallery {
  .image-gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;

    @include breakpoints.Mobile() {
      flex-direction: column;
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 33%;

      @include breakpoints.Mobile() {
        width: 100%;
      }

      .image-item {
        position: relative;
        cursor: pointer;
      }
    }
  }
}