@use "sass:map";
@use "variables";

@mixin Mobile {
  @media (min-width: 0px) and (max-width: #{variables.$tablet-width - 1px}) {
    @content;
  }
}

@mixin Tablet {
  @media (min-width: #{variables.$tablet-width}) and (max-width: #{variables.$desktop-width - 1px}) {
    @content;
  }
}

@mixin Desktop {
  @media (min-width: #{variables.$desktop-width}) and (max-width: #{map.get(variables.$breakpoints, large) - 1px}) {
    @content;
  }
}

@mixin DesktopLarge {
  @media (min-width: #{map.get(variables.$breakpoints, large)}) {
    @content;
  }
}
