@import "variables";

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
}