@use "global";
@use "variables";
@use "breakpoints";

main {
  width: calc(100% - #{variables.$default-page-margin} * 2);
  margin: variables.$default-page-margin;
  min-height: 500px;

  &.full {
    position: absolute;
    width: calc(100% - #{variables.$homepage-margin} * 2);
    height: calc(100% - #{variables.$homepage-margin} * 2);
    margin: 0;
    top: variables.$homepage-margin;
    left: variables.$homepage-margin;

    header {
      position: absolute;
      width: calc(100% - #{variables.$homepage-margin} * 2);
      z-index: 2;
      margin: variables.$homepage-margin;

      .mobile-menu-content .mobile-menu-btn {
        top: 40px;
        right: -15px;
      }
    }
  }

}






