$black: #231f20;
$text-color: #777;

$default-margin: 20px;

$default-page-margin: 30px;
$homepage-margin: calc(#{$default-page-margin}/2);

$breakpoints: (
        xxsmall: 0px,
        xsmall: 360px,
        small: 540px,
        medium: 768px,
        medium-plus: 1024px,
        large: 1280px,
        xlarge: 1440px,
        xxlarge: 1920px
);

$tablet-width: 768px;

$desktop-width: 1280px;