@import "../global";

main {
  &.full {
    position: absolute;
    width: calc(100% - $page-margin*2);
    height: calc(100% - $page-margin*2);
    margin: 0;
    top: $page-margin;
    left: $page-margin;

    header {
      position: absolute;
      width: calc(100% - $page-margin*2);
      z-index: 2;
      margin: $page-margin;
    }
  }
}