@use "../global";
@use "../variables";
@use "../breakpoints";

main {
  &.contacts-page {
    display: flex;

    @include breakpoints.Mobile() {
      flex-direction: column;
    }

    .col-left {
      float: left;
      width: 40%;

      @include breakpoints.Mobile() {
        width: 100%;
      }

      img {
        width: 100%;

        @include breakpoints.Mobile() {
          width: 100%;
          height: auto;
        }
      }
    }

    .col-right {
      float: left;
      width: 60%;
      padding-left: 25px;

      @include breakpoints.Mobile() {
        width: 100%;
        padding-left: 0;
      }

      .contact-email {
        padding: 30px;
        text-align: center;
        border-top: 1px solid variables.$black;
        border-bottom: 1px solid variables.$black;

        @include breakpoints.Mobile() {
          border: none;
        }

      }

      .contact-columns {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-top: variables.$default-margin;

        @include breakpoints.Mobile() {
          flex-direction: column;
        }

        .contact-col {
          flex-direction: column;
        }
      }

    }
  }
}