@import "../global";
@import "../variables";
@import "../breakpoints";

main {
  &.contacts-page {
    .col-left {
      float: left;
      width: 40%;

      @include Mobile() {
        width: 100%;
      }

      img {
        width: 100%;
        //height: 300px;

        @include Mobile() {
          width: 100%;
          height: auto;
        }
      }
    }

    .col-right {
      float: left;
      width: 60%;
      padding-left: 25px;

      @include Mobile() {
        width: 100%;
        padding-left: 0;
      }

      .contact-email {
        text-align: center;

        a {
          color: $grey;
          text-decoration: none;

          &:hover {
            color: $black
          }
        }
      }

      .contact-columns {
        display: flex;
        justify-content: space-around;
        flex-direction: row;

        @include Mobile() {
          flex-direction: column;
        }

        .contact-col {
          flex-direction: column;
        }
      }

    }
  }
}