@use "../variables";

footer {
  width: calc(100% - #{variables.$default-page-margin}*2);
  margin: variables.$default-page-margin;
  border-top: 1px solid variables.$black;
  padding-top: 10px;
  padding-bottom: 10px;

  .socials {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    a {
      padding: 16px;
    }
  }

  .company-info {
    text-align: center;

    a {
      text-decoration: none;
      color: variables.$text-color;

      &:hover {
        color: variables.$black;
      }
    }
  }
}