@use "../variables";
@use "../breakpoints";
@use "mobile-menu";

header {
  width: calc(100% - #{variables.$default-page-margin}*2);
  margin: variables.$default-page-margin;

  .container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    .logo {
      z-index: 4;
    }

    .navbar {
      display: flex;
      @include breakpoints.Mobile() {
        display: none;
      }

      li {
        display: flex;
        padding: 20px;

        a {
          color: variables.$black;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;

          &:hover, &:focus {
            color: variables.$grey;
          }
        }
      }
    }
  }
}
