@import "../global";
@import "../variables";
@import "../breakpoints";

main {
  &.about-page {
    .floated {
      float: left;
      width: 400px;
      margin-right: $default-margin;
      margin-bottom: $default-margin;

      @include Mobile() {
        width: 100%;
      }
    }
  }
}