@use "../global";
@use "../variables";
@use "../breakpoints";

main {
  &.about-page {
    .floated {
      float: left;
      width: 400px;
      margin-right: variables.$default-margin;
      margin-bottom: variables.$default-margin;

      @include breakpoints.Mobile() {
        width: 100%;
      }
    }
  }
}